


// 上頭選單 
.title{
    background-color: #AA0601;
    display: flex;
    justify-content: space-between;
    .glasses-logo{
        margin: 30px 0 30px 88px;
        background-position: center center;
        background-size: cover;
    }
    .menu{
        display: flex;
        margin-right: 88px;
        .menu-list{
            padding: 40px 0 40px 64px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

// 大banner 
.banner{
    background-image: url('https://upload.cc/i1/2020/04/27/A9uJHK.png');
    height: 840px;
    background-size: cover;
    background-position: center center;
    .banner-block{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        @include pad(){
            padding-right: 48px;
            h1{
                font-size: 48px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

// 專業介紹
.profession{
    background-color: #AA06010D;
    h2{
        padding: 64px 0;
        text-align: center;
    }
    .profession-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 80px;
        .profession-items-list{
            text-align: center;
            padding: 0 24px;
            h4{
                padding: 40px 0 4px 0;
            }
            p{
                width: 208px;
                text-align: left;
            }
        }
        .last-icon{
            padding-bottom: 23px;
        }
    }
}


// 經典系列鏡框
.classicSeries{
    h2{
        font-weight: bold;
        padding: 64px 0 80px 0 ;
        text-align: center;
    }
    li{
        display: flex;
        justify-content: center;
        padding-bottom: 32px;
        .icon{
            display: flex;
            align-items: center;
            padding: 0 24px;
            h2{
                color: #AA0601;
                font-style: italic;
                padding: 0 8px;
            }
        }
    }
}

// 聯名設計鏡框
.glasses-design{
    background-image: url('https://upload.cc/i1/2020/04/27/ej2gVB.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h2{
        color:#fff;
        padding: 64px 0 60px 0;
        text-align: center;
    }

    // 左大圖
    .imgUp{  
        display: flex;
        justify-content: center;
        img{
            padding: 0 4px;
        }
    }

    // 右下3塊
    .rightDown{
        display: flex;
        padding: 4px 0 0 0 ;
        justify-content: space-between;
        .rightDown-two{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        // 箭頭圖片
        .text{
            margin-top:    8px;
            width: 259px;
            height: 167px;
            background-color: #fff;
            background-image: url('https://upload.cc/i1/2020/04/27/k4SmGM.png');
            // position: relative;
            // right: 90px;
            // p{
            //     top: 20%;
            //     left: 10%;
            //     position: absolute;
            //     background-color: #fff;
            //     color: #AA0601;
            //     font-size: 72px;
            //     height: 105px;
            //     width: 315px;
            //     display: flex;
            //     align-items: center;
            //     font-weight: bold;
            //     padding-left: 32px;
            //     img{
            //         padding-left: 17px;
            //     }
            // }
        }
    }
    // 中間兩大張
    .imgMedium{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        
        .img-1{
            margin-right: 30px;
            // position: relative;
            background:hsla(0,0%,100%,0.3);
        }
        h1{
            // position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 72px;
            color:#AA0601;
            font-weight: bold;
            white-space:nowrap
        }
    }
} 

// 顧客推薦
.img-down{
    h2{
        padding: 0;
        font-size: 48px;
        margin-top: 144px
    }
    ul{
        padding-top: 60px;
        display: flex;
        justify-content: center;
        li{
            margin-right: 24px;
            max-width: 282px;
            
            .cardBody{
                border: 1px solid #DEE2E6;
                border-top: none;
                color: #212529;
                h6{
                    padding: 16px 10px;
                    font-weight: bold;
                }
                p{
                    padding: 0 10px 16px;
                    max-width: 100%;
                }
                .gray-text{
                    color: #707070;
                    
                }
            }
        }
    }
}

// 聯絡我們
.contact{
    background: #AA06010D;
    margin-top: 80px;
    .container{
        width: 762px;
    }
    .sectionTitle{
        font-weight: bold;
        font-size: 48px;
        padding: 64px 0 24px 0;
        text-align: center;
    }
    .contactText{
        font-size: 20px;
        text-align: left;
        padding-bottom: 20px;
    }
    label{
        font-size: 16px;
        text-align: left;
    }
    input[type="text"], textarea {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 16px;
        padding: 14px 16px;
        border: 1px solid #000;
        background-color: transparent;
    }
    .submit {
        margin-top: 42px;
        text-align: center;
        padding-bottom: 92px;
        input{
            width: 180px;
            height: 54px;
            background: #AA0601;
            color: #fff;
            font-size: 16px;
        }
    }
}

// footer
.footer{
    background-color: #AA0601;
    padding: 0 385px;
    .footer-up{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding-bottom: 24px;
        .footer-right{
            margin-top: 48px;
            .footer-right-list{
                display: flex;
                padding-bottom: 32px;
                a{
                    text-decoration: none;
                    color: #fff;
                    padding-right: 48px;
                }
            }
            .phone , .mail{
                font-size: 36px;
                color: #fff;
                display: flex;
                align-items: center;
                padding-bottom: 16px;
            } 
            .mail{
                    img{
                        padding-right: 12px;
                    }
                }
                .phone{
                    img{
                        padding-right: 23px;
                    }
                }
        }
        .footer-left{
            margin-top: 36px;
            .footer-left-list{
                display: flex;
                li{
                    padding-left: 32px;
                }
            }
        }
    }
    .footer-down{
        padding-top: 24px;
        padding-bottom: 27px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        h3{
            display: flex;
            align-items: center;
            img{
                padding-right: 38px;
            }
        }
        .footer-down-right{
            display: flex;
            li{
                padding-left: 62px;
            }
        }
    }
}