


// 上頭選單 
.title{
    background-color: #AA0601;
    display: flex;
    justify-content: space-between;
    .glasses-logo{
        margin: 30px 0 30px 88px;
        background-position: center center;
        background-size: cover;
    }
    .menu{
        display: flex;
        margin-right: 88px;
        .menu-list{
            padding: 40px 0 40px 64px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

// 大banner 
.banner{
    background-image: url('https://upload.cc/i1/2020/04/27/A9uJHK.png');
    height: 840px;
    background-size: cover;
    background-position: center center;
    .banner-block{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        @include pad(){
            padding-right: 48px;
            h1{
                font-size: 48px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

// 專業介紹
.profession{
    background-color: #AA06010D;
    h3{
        padding: 64px 0;
        text-align: center;
    }
    .profession-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 80px;
        .profession-items-list{
            text-align: center;
            padding: 0 24px;
            h4{
                padding: 40px 0 4px 0;
            }
            p{
                width: 208px;
                text-align: left;
            }
        }
        .last-icon{
            padding-bottom: 23px;
        }
    }
}


// 經典系列鏡框
.classicSeries{
    h2{
        font-weight: bold;
        padding: 64px 0 80px 0 ;
        text-align: center;
    }
    li{
        display: flex;
        justify-content: center;
        padding-bottom: 32px;
        .icon{
            display: flex;
            align-items: center;
            padding: 0 24px;
            h2{
                color: #AA0601;
                font-style: italic;
                padding: 0 8px;
            }
        }
    }
}

// 聯名設計鏡框
.glasses-design{
    background-image: url('https://upload.cc/i1/2020/04/27/ej2gVB.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h3{
        color:#fff;
        padding: 64px 0 60px 0;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
    }

    .imgUp{  
        display: flex;
        justify-content: center;
        img{
            padding: 0 4px;
        }
    }

    // 右下3塊
    .rightDown{
        display: flex;
        padding-top: 4px;
        justify-content: space-between;
        // 右下兩張
        .rightDown-two{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        // 最右下mark 
        .more-text{
            margin-top: 8px;
            position: relative;
            margin-right: 77px;
            max-width: 30%;

            .more{
                display: flex;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                width: 100%;
                a{
                    width: 315px;
                    display: flex;
                    background-color: #fff;
                    font-size: 72px;
                    line-height: 1.5;
                    font-weight: bold;
                    color: #AA0601;
                    text-decoration: none;
                    padding-left: 32px;
                    img{
                        margin-right: 17px;
                    }
                }
            }
        }
    }
    // 中間兩大張
    .imgMedium{
        padding-top: 60px;
        padding-bottom: 479px;
        .imgMedium-img{
            display: flex;
            justify-content: center;
            height: 592px;
            h1{
                    z-index: 2;
                }
            @include pad(){
                height: 280px;
            }
            .d-flex{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-position: center center;
                background-size: cover;
                position: relative;
            }

            // 左邊戴眼鏡圖
            .img-1{
                background-image: url(https://i.ibb.co/12RkX3f/14.png);
                margin-right: 15px;
            }
            // 右邊眼鏡框圖
            .img-2{
                background-image: url(https://i.ibb.co/7JPPdbK/39.png);
                margin-left: 15px;
            }
            .img-item-white{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.5);
                z-index: 1;
            }
        }
    }
}

// 顧客推薦
.imgDown{
    margin-top: -300px;
    padding-bottom: 80px;
    h3{
        text-align: center;
        color: #fff;
    }
    .imgDown-items{
        padding-top: 60px;
        display: flex;
        justify-content: center;
        .imgDown-items-list{
            padding-left: 12px;
            padding-right: 12px;
            width: 100%;
            .cardBody{
                border: 1px solid #DEE2E6;
                border-top: none;
                color: #212529;
                p{
                    padding: 0 10px 16px;
                    font-weight: normal;
                }
                .gray-text{
                    color: #707070;
                }
            }
        }
    }
} 
// 聯絡我們
.contact{
    background: #AA06010D;
    .sectionTitle{
        font-size: 48px;
        padding: 64px 0 24px 0;
        text-align: center;
    }
    p{
        text-align: left;
        padding-bottom: 20px;
    }
    label{
        font-size: 16px;
        text-align: left;
    }
    input[type="text"], textarea {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 16px;
        padding: 14px 16px;
        border: 1px solid #000;
        background-color: transparent;
    }
    .submit {
        margin-top: 42px;
        text-align: center;
        padding-bottom: 92px;
        input{
            width: 180px;
            height: 54px;
            background: #AA0601;
            color: #fff;
            font-size: 16px;
        }
    }
}

// footer
.footer{
    background-color: #AA0601;
    .container{
        font-weight: normal;
    }
    .footer-up{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding-bottom: 24px;
        .footer-right{
            margin-top: 48px;
            .footer-right-list{
                display: flex;
                padding-bottom: 32px;
                a{
                    text-decoration: none;
                    color: #fff;
                    padding-right: 48px;
                }
            }
            .phone , .mail{
                color: #fff;
                display: flex;
                align-items: center;
                padding-bottom: 16px;
            } 
            .mail{
                    img{
                        padding-right: 12px;
                    }
                }
                .phone{
                    img{
                        padding-right: 23px;
                    }
                }
        }
        .footer-left{
            margin-top: 36px;
            .footer-left-list{
                display: flex;
                li{
                    padding-left: 32px;
                }
            }
        }
    }
    .footer-down{
        padding-top: 24px;
        padding-bottom: 27px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        .footer-down-left{
            display: flex;
            align-items: center;
            p{
                color: #fff;
                padding-left: 38px;
            }
        }
        .footer-down-right{
            display: flex;
            align-items: center;
            li{
                padding-left: 62px;
                p{
                    color: #fff;
                }
            }
        }
    }
}