html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, 'PingFang-TC',sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  color: #650300;
  overflow: hidden;
}

.container h1 {
  font-size: 64px;
}

.container h2 {
  font-size: 48px;
}

.container h3 {
  font-size: 36px;
}

.container h4 {
  font-size: 24px;
}

.container p {
  font-size: 16px;
  color: #000;
}

.h-100 {
  height: 100%;
}

.title {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title .glasses-logo {
  margin: 30px 0 30px 88px;
  background-position: center center;
  background-size: cover;
}

.title .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 88px;
}

.title .menu .menu-list {
  padding: 40px 0 40px 64px;
}

.title .menu .menu-list a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.banner {
  background-image: url("https://upload.cc/i1/2020/04/27/A9uJHK.png");
  height: 840px;
  background-size: cover;
  background-position: center center;
}

.banner .banner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

@media (max-width: 845px) {
  .banner .banner-block {
    padding-right: 48px;
  }
  .banner .banner-block h1 {
    font-size: 48px;
  }
  .banner .banner-block p {
    font-size: 20px;
  }
}

.profession {
  background-color: #AA06010D;
}

.profession h2 {
  padding: 64px 0;
  text-align: center;
}

.profession .profession-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 80px;
}

.profession .profession-items .profession-items-list {
  text-align: center;
  padding: 0 24px;
}

.profession .profession-items .profession-items-list h4 {
  padding: 40px 0 4px 0;
}

.profession .profession-items .profession-items-list p {
  width: 208px;
  text-align: left;
}

.profession .profession-items .last-icon {
  padding-bottom: 23px;
}

.classicSeries h2 {
  font-weight: bold;
  padding: 64px 0 80px 0;
  text-align: center;
}

.classicSeries li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 32px;
}

.classicSeries li .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.classicSeries li .icon h2 {
  color: #AA0601;
  font-style: italic;
  padding: 0 8px;
}

.glasses-design {
  background-image: url("https://upload.cc/i1/2020/04/27/ej2gVB.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.glasses-design h2 {
  color: #fff;
  padding: 64px 0 60px 0;
  text-align: center;
}

.glasses-design .imgUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glasses-design .imgUp img {
  padding: 0 4px;
}

.glasses-design .rightDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.glasses-design .rightDown .rightDown-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.glasses-design .rightDown .text {
  margin-top: 8px;
  width: 259px;
  height: 167px;
  background-color: #fff;
  background-image: url("https://upload.cc/i1/2020/04/27/k4SmGM.png");
}

.glasses-design .imgMedium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.glasses-design .imgMedium .img-1 {
  margin-right: 30px;
  background: rgba(255, 255, 255, 0.3);
}

.glasses-design .imgMedium h1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 72px;
  color: #AA0601;
  font-weight: bold;
  white-space: nowrap;
}

.img-down h2 {
  padding: 0;
  font-size: 48px;
  margin-top: 144px;
}

.img-down ul {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-down ul li {
  margin-right: 24px;
  max-width: 282px;
}

.img-down ul li .cardBody {
  border: 1px solid #DEE2E6;
  border-top: none;
  color: #212529;
}

.img-down ul li .cardBody h6 {
  padding: 16px 10px;
  font-weight: bold;
}

.img-down ul li .cardBody p {
  padding: 0 10px 16px;
  max-width: 100%;
}

.img-down ul li .cardBody .gray-text {
  color: #707070;
}

.contact {
  background: #AA06010D;
  margin-top: 80px;
}

.contact .container {
  width: 762px;
}

.contact .sectionTitle {
  font-weight: bold;
  font-size: 48px;
  padding: 64px 0 24px 0;
  text-align: center;
}

.contact .contactText {
  font-size: 20px;
  text-align: left;
  padding-bottom: 20px;
}

.contact label {
  font-size: 16px;
  text-align: left;
}

.contact input[type="text"], .contact textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #000;
  background-color: transparent;
}

.contact .submit {
  margin-top: 42px;
  text-align: center;
  padding-bottom: 92px;
}

.contact .submit input {
  width: 180px;
  height: 54px;
  background: #AA0601;
  color: #fff;
  font-size: 16px;
}

.footer {
  background-color: #AA0601;
  padding: 0 385px;
}

.footer .footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 24px;
}

.footer .footer-up .footer-right {
  margin-top: 48px;
}

.footer .footer-up .footer-right .footer-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
}

.footer .footer-up .footer-right .footer-right-list a {
  text-decoration: none;
  color: #fff;
  padding-right: 48px;
}

.footer .footer-up .footer-right .phone, .footer .footer-up .footer-right .mail {
  font-size: 36px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

.footer .footer-up .footer-right .mail img {
  padding-right: 12px;
}

.footer .footer-up .footer-right .phone img {
  padding-right: 23px;
}

.footer .footer-up .footer-left {
  margin-top: 36px;
}

.footer .footer-up .footer-left .footer-left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-up .footer-left .footer-left-list li {
  padding-left: 32px;
}

.footer .footer-down {
  padding-top: 24px;
  padding-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.footer .footer-down h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-down h3 img {
  padding-right: 38px;
}

.footer .footer-down .footer-down-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-down .footer-down-right li {
  padding-left: 62px;
}
/*# sourceMappingURL=all.css.map */