html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
}

.title {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title .glasses-logo {
  margin: 30px 0 30px 88px;
}

.title .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 88px;
}

.title .menu li {
  padding: 40px 64px 40px 0;
}

.title .menu li .menu-list {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

.banner {
  background-image: url("https://upload.cc/i1/2020/04/27/A9uJHK.png");
  height: 840px;
  color: #650300;
  font-weight: bold;
}

.banner .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  padding: 350px;
}

.banner .banner-text p {
  font-size: 36px;
  line-height: 1.5;
}

.banner .banner-text h1 {
  font-size: 64px;
}

.profession {
  background-color: #AA06010D;
}

.profession h2 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
  padding: 64px 0;
  color: #650300;
  text-align: center;
}

.profession ul {
  padding: 0 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 80px 0;
}

.profession ul li {
  padding: 12px;
  text-align: center;
  padding: 0 24px;
}

.profession ul li h4 {
  padding: 40px 0 4px 0;
  color: #650300;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.profession ul li p {
  width: 208px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.profession ul .last-icon {
  padding-bottom: 23px;
}

.pattern-content {
  color: #650300;
}

.pattern-content h2 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
  padding: 64px 0 60px 0;
  text-align: center;
}

.pattern-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 32px;
}

.pattern-content li .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.pattern-content li .icon h2 {
  color: #AA0601;
  font-style: italic;
  padding: 0 8px;
}

.glasses-design {
  background-image: url("https://upload.cc/i1/2020/04/27/ej2gVB.png");
}

.glasses-design h2 {
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  padding: 64px 0 60px 0;
  text-align: center;
}

.glasses-design .img-up {
  padding: 0 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glasses-design .img-up img {
  padding: 0 8px;
}

.glasses-design .right-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 0 0;
}

.glasses-design .right-down .text {
  padding-top: 8px;
  width: 259px;
  height: 167px;
  background-color: #fff;
  background-image: url("https://upload.cc/i1/2020/04/27/k4SmGM.png");
  position: relative;
}

.glasses-design .right-down .text p {
  top: 20%;
  left: 10%;
  position: absolute;
  background-color: #fff;
  color: #AA0601;
  font-size: 72px;
  height: 105px;
  width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  padding-left: 32px;
}

.glasses-design .right-down .text p img {
  padding-left: 17px;
}

.glasses-design .img-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  position: relative;
}

.glasses-design .img-medium img {
  padding: 0 4px;
}

.glasses-design .img-medium h1 {
  position: absolute;
  top: 50%;
  right: 50%;
  color: #AA0601;
  font-size: 72px;
  line-height: 1.5;
}
/*# sourceMappingURL=all.css.map */